@charset "UTF-8";

.btn-light {
  margin-top: 25px;
  font-size: 20px;
  background-color: rgba(0, 109, 36, 0.301); }

.button_rack{
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.negrita{
  font-weight: bold;
}

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.abs {
  position: absolute; }

.loading {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  backface-visibility: hidden;
  pointer-events: none;
  justify-content: center;
  opacity: 1;
  transition: opacity 1s; }
  .loading .spinner {
    position: absolute;
    left:5%;
    top:5%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    border: 16px solid #bebebe;
    border-top: 16px solid #3498db;
    border-radius: 50%; }

.loaded .loading {
  opacity: 0; }

body{
  overflow-x: hidden;
  overflow-y: hidden;
}


.card-block {
  font-size: 1em;
  position: relative;
  margin: 10px; 
}

.card {
  font-size: 1em;
  overflow: hidden;
  padding: 5;
  border: rgba(146, 0, 80, 0.452);
  border-style:solid;
  border-width: 5px;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin:20px;
  margin-right: 50px;
  padding: 0px;

  background-color: rgba(255, 255, 255, 0.397);
}

.col{
  margin: 0px;
  padding: 0px;
}

.col-md-auto{
  margin: 0px;
  padding: 0px;
}
.contador {

  position: absolute;
  top: 20px;
  left: 0px;
  
  border-radius: 50%;
  width: 140px;
  height: 120px;
  padding: 10px;

  background: rgba(255, 255, 255, 0.301);
  border: 2px solid #666;
  color: rgb(24, 206, 0);
  text-align: center;

  font: 80px Arial, sans-serif;
}

#boton_atras{
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.err_txt{
  opacity: 0;
  transition: opacity 1.2s;
}

#btn_fin_rutina{
  display: none;
  background-color: rgb(255, 213, 0);
}

#stickman_gif{
  float: right;
}


